h1 {
    font-family:Andale Mono, monospace ;
    font-size: 48pt;
    text-align:center;
}

p {
    list-style-type: none;
    margin-left: 200px;
    font-size: 30pt;
}

a{
    color:black;
    padding: 2px;
    text-decoration: none;
}

#menu {
    list-style-type: none;
    text-align: right;
    font-family:Andale Mono, monospace ;
    font-size: 20pt;
    margin-bottom: 120px;
    display: block;
}

li {
    display: inline; 
    float: right;
    margin: 15px;
  }
#header{
    background:no-repeat center/100% url("../image/head.png");
    text-align: justify;
    display: block;
    width: auto;
    height: 200px;
    
}
