h1 {
    font-family:Andale Mono, monospace ;
    font-size: 48pt;
    margin-left: 250px;
}

p {
    margin-left: 200px;
    font-size: 30pt;
}

a{
    color:black;
    padding: 2px;
    text-decoration: none;
}

#menu {
    
    list-style-type: none;
    text-align: right;
    font-family:Andale Mono, monospace ;
    font-size: 20pt;
}
#menu li {
    display: inline; 
    float: right;
    margin: 15px;
  }
#header{
    background-image: url(/image/head.png);
}